button.selected {
  background-color: #FFD101;
  color: #16478E;
}

.choice-button {
  background: #0236A1;
  border: 2px solid #FFD101;
  font-size: medium;
  text-transform: uppercase;
}

.choice-button:hover {
  background-color: #FFD101;
  color: #16478E;
  transition: background-color 0.5s;
}

.choices-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.next-button {
  border: 2px solid #FFF;
  padding-left: 6rem;
  padding-right: 6rem;
  font-size: medium;
  text-transform: uppercase;
}

.progress-text {
  font-size: large;
  text-transform: uppercase;
}

.question-container {
  align-items: center;
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 2rem;
  width: 100%;
  gap: 1rem;
}

.question-text {
  font-size: x-large;
  min-width: 14rem;
  max-width: 30rem;
  text-transform: uppercase;
}

.question-image {
  border: 3px solid #FFF;
  max-width: 13rem;
}